{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{% comment %}
  {% liquid
    assign temp_area_types = block.settings.area_types | split: ','
    assign area_types = ''
    assign temp_area_types = ""
    for temp_type in temp_area_types
      assign temp_area_types = temp_type | handleize
      assign area_types = area_types | append: temp_area_types | append: ', '
    endfor
    assign area_types = area_types | split: ', '
    for type in area_types
      echo  type
      echo ' space '
    endfor
  %}
{% endcomment %}
{% liquid
  assign area_types = block.settings.area_types | split: ','
%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    {% assign productCollections = product.collections | map: 'handle' %}
    {% if productCollections contains 'cushions-pillows' or productCollections contains 'single-cushions' %}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if option.selected_value == value %}
          checked
        {% endif %}
        {% if option_disabled %}
          class="disabled"
        {% endif %}
      >
      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="price__regular product-cushions">
        <div class="image-swatch image-swatch--{{ value |  handleize }}"></div>
        <span>{{ value -}}</span>
        {% for variant in product.variants %}
          {% if variant.options contains value %}
            <p class="price-item--regular font_12">{{ variant.price  |  money_without_trailing_zeros}}</p>
          {% endif %}
        {% endfor %}
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    {% elsif productCollections contains 'carpets-rugs' %}
      {% liquid
        assign temp_value = value | handleize
        assign data-attribute = 'all'
        if temp_value contains 'runners'
          assign data-attribute = 'runners'
        else
          for type in area_types
            if temp_value contains type
              assign data-attribute = 'area'
              break
            endif
          endfor
        endif
      %}
      <div class="flex-box__item {{ data-attribute }}">
        <input
          type="radio"
          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
          name="{{ option.name }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if option.selected_value == value %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
        >
        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-carpet price__regular">
          {{ value | split: '(' | first -}}
          <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
          {% for variant in product.variants %}
            {% if variant.options contains value %}
              <p class="price-item--regular font_12">{{ variant.price |  money_without_trailing_zeros }}</p>
            {% endif %}
          {% endfor %}
        </label>
      </div>
    {% else %}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if option.selected_value == value %}
          checked
        {% endif %}
        {% if option_disabled %}
          class="disabled"
        {% endif %}
      >
      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
        {{ value -}}
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    {% endif %}
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
